@import '../../assets/variables';

.datetime-page {
  display: flex;
  flex-direction: column;

  &__header {
    position: relative;
    z-index: 2;
    box-shadow: 0 18px 19px -15px rgba(0, 0, 0, 0.14);
    background-color: #fff;

    &__body {
      border-bottom: 1px solid #f9f8f8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #eeeff3;
      padding: 12px 20px;

      &__page-caption {
        font-size: 16px;
        color: #292727;
      }

      &__link-back {
        text-decoration: none;
        font-size: 12px;
        padding: 10px 20px 10px 17px;
        color: #e2b62e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95px;
        background: #ffffff;
        font-weight: 600;
        border-radius: 4px;
        border: 2px solid #ffcf3c;

        &:before {
          content: '';
          display: block;
          top: 21px;
          left: 30px;
          width: 10px;
          height: 10px;
          border: 2px solid #ffcf3c;
          border-top: none;
          border-right: none;
          transform: rotate(45deg);
        }
      }

    }
    &__sub-headline {
      font-size: 12px;
      margin: 20px 20px 10px;
    }
  }
}